page-home {


}

.myCardCont{
    background-size: cover;
}

.horizontalDivs{
    overflow: auto;
    white-space: nowrap;
}


.myCard{
    border-radius: 15px;
    width:  200px;
    display: inline-block;

    
}

  
.rankingImage{
    border-radius: 15px;
      width: 100%;
      height: 100px;
      background-color: black;

      
  }