<ion-header>
  <ion-navbar>
    
    <ion-title>My DJ Dashboard</ion-title>
  </ion-navbar>
</ion-header>


            
  <ion-content>
      <h3>Salas activas</h3>
    
      <div class="horizontalDivs">
    
        <ion-card class="myCard" *ngFor="let sala of salas">
          <ion-card-content class="myCardCont" [ngStyle]="{'background-image': 'url(' + sala.image + ')'}" >
          <ion-card-title>
              <ion-badge color="primary">{{sala.usuariosConectados}}</ion-badge>
            <ion-icon color="primary" name="people"></ion-icon>
              
            </ion-card-title>
         
        </ion-card-content>
        </ion-card>
      </div>
      
      <h3>Mayor actividad</h3>
    
      <div class="horizontalDivs">
    
        <ion-card class="myCard" *ngFor="let sala of salas">
          <ion-card-content class="myCardCont" [ngStyle]="{'background-image': 'url(' + sala.image + ')'}">
          <ion-card-title>
              <ion-badge color="primary">{{sala.cancionesPedidas}}</ion-badge>
            <ion-icon color="primary" name="musical-notes"></ion-icon>
              
            </ion-card-title>
                
          
        </ion-card-content>
        </ion-card>
      </div>
      

      <h3>Generos populares</h3>
    
      <div class="horizontalDivs">
    
        <ion-card class="myCard" *ngFor="let sala of salas">
          <ion-card-content  class="myCardCont" [ngStyle]="{'background-image': 'url(' + sala.image + ')'}">
          <ion-card-title>
              <ion-badge color="primary">{{sala.generoMusical}}</ion-badge>
            <ion-icon color="primary" name="bulbe"></ion-icon>
              
            </ion-card-title>
         
          
        </ion-card-content>
        </ion-card>
      </div>
      

    </ion-content>
    

